


.all-categories {
    background-image: linear-gradient(to bottom,#f3c46c , #FFA500);
    color: white;
}
.all-categories img {
    width: 100px;
}
.panda-slider{
    margin-top:100px;
} 
.panda-slider .carousel-item{
    background-image: linear-gradient(to bottom, #FCEAE8 , #f3d5d2);
    padding: 50px;
    border-radius: 5%;
}
.panda-card{
    border: 0;
}
.panda-footer{
    border: 0;
    background-color: white;
}
.panda-btn{
    background-image: linear-gradient(to top, #FF4F95, #f16ea3);
    padding: 8px 14px;
}
.panda-subs{
    height: 300px;
    background-image: linear-gradient(to bottom, #FCEAE8 , #f3d5d2);
    
}
footer {
    letter-spacing: 5px;
}